body {
    font-family: Arial;
    background: #f5f5f5;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 200px;
    margin-top: 10px;
}

button {
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}
.json-container {
    position: relative;
    background: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
    color: #dcdcdc;
    margin-top: 20px;
    overflow-x: auto;
    border: 1px solid #333;
}

#copyJsonBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #4caf50;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.json-output {
    white-space: pre-wrap;
    font-family: "Consolas", monospace;
    font-size: 14px;
}
